# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# KG Ignore binary files and doxygen directory
bin/
doxygen/
# KG Ignore Code::Blocks files
*.layout
*.cbp
/*.cbp
/*.layout
*.depend
ClassScheduling.exe
