# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# KG Ignore binary files and doxygen directory
bin/
doxygen/
# KG Ignore Code::Blocks files
*.layout
*.cbp
/*.cbp
/*.layout
*.depend
# KG ignore compiled Windows executables
*.exe
# KG ignore dynamically generate fail test files
/testsuite/res/*_fail.txt

*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.tlog
*.manifest
*.res
*.ilk
*.lastbuildstate
*.ipch
*.pdb
*.obj
*.cache
*.rc
*.idb
*.log
*.unsuccessfulbuild
testsuite/SCHEDULEWRITER_OUTPUT.txt
